body {
    background-color: #cff1ef;
}

.div-main-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 30px;
}

/* GRID SECTION  */
.div-grid-container {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    height: 600px;
    width: 600px;
    margin: auto;
}

.div-grid {
    height: 100%;
    width: 100%;
    border: 1px solid #808080;
    background-color: #ffffff;
}

/* BUTTONS SECTION  */
.div-button-container {
    display: flex;
    justify-content: center;
    padding-bottom: 35px;
}

button {
    background-color: #ffffff;
    border: 2px solid #ffa41b;
    border-radius: 5px;
    box-shadow: 5px 5px 10px #444444;
    color: #ffa41b;
    padding: 14px 28px;
    margin-right: 15px;
    font-size: 16px;
    outline: none;
}

button:hover {
    background-color: #ffa41b;
    color: #ffffff;
}

.button-selected {
    background-color: #ffa41b;
    color: #ffffff;
    box-shadow: 0 0 0;
}