.div-main-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 50px;
}

.div-button-container {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

.div-grid-container {
    display: grid;
    grid-template-columns: repeat(16, auto);
    grid-template-rows: repeat(16, auto);
    height: 600px;
    width: 600px;
    margin: auto;
}

.div-grid {
    height: 100%;
    width: 100%;
    border: 1px solid #808080;
    background-color: #ffffff;
}

/* BUTTONS SECTION  */

button {
    background-color: #ffffff;
    border: 2px solid #ff9800;
    border-radius: 5px;
    box-shadow: 5px 5px 10px #888888;
    color: #ffa500;
    padding: 14px 28px;
    margin-right: 15px;
    font-size: 16px;
    outline: none;
}

button:hover {
    background-color: #ffa500;
    color: #ffffff;
}

.button-selected {
    background-color: #ffa500;
    color: #ffffff;
    box-shadow: 0 0 0;
}